*{
    font-style: italic;
}

div {
    color : red
}
p{
    color : blue
}
.big {
    font-size: 25pt;
}
.bold {
    font-weight: bold;
}
#one {
    background-color: orange;
}
input[disabled]{
    font-size: 8pt;
    height: 100px;
}
input[type = "text"]{
    width: 500px;
}